@media screen and (min-width: 325px){
    .navigation{
        width: 80%;
    }

    .main_text{
        top: 100px;
    }

    .main_text p{
        font-size: 14px;
    }

    .main_img{
        width: 350px;
        height: 250px;
    }

    .grid_item{
        margin-top: 50px;
    }

    .footer_area{
        flex-direction: row;
        justify-content: center;
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 600px){

    .grid_container{
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        gap: 2px;
    }

    .main_item{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    
    .main_img{
        width: 600px;
        height: 450px;
    }

    .main_text{
        top: 300px;
    }

    .grid_item{
        margin-top: 300px;
        width: 210px;
        height: 420px;
    }

    .section_img{
        width: 200px;
        height: 150px;
    }

    .grid_item p{
        font-size: 14px;
    }

}

@media screen and (min-width: 769px){
    .main_img{
        width: 650px;
        height: 500px;
    }

    .main_text{
        top: 300px;
    }

    .main_text h1{
        font-size: 32px;
    }

    .main_text p{
        font-size: 18px;
    }

    .grid_item{
        margin-top: 400px;
        height: 470px;
        width: 230px;
    }

    .grid_item p{
        font-size: 18px;
    }
}

@media screen and (min-width: 992px){
    .nav_item{
        font-size: 24px;
        margin: auto 30px;
    }
    
    .main_img{
        width: 900px;
        height: 600px;
    }

    .main_text{
        top: 300px;
        padding: 50px;
    }

    .main_text h1{
        font-size: 64px;
    }

    .main_text p{
        font-size: 24px;
    }

    .grid_item{
        margin-top: 500px;
        height: 600px;
        width: 320px;
    }

    .section_img{
        width: 300px;
        height: 200px;
    }

    .item_text{
        font-size: 32px;
    }

    .grid_item p{
        font-size: 24px;
    }

    .grid_link{
        font-size: 24px;
    }
}

@media screen and (min-width: 1440px){
    .main_img{
        width: 1200px;
        height: 600px;
    }

    .grid_item{
        margin-top: 500px;
        height: 600px;
        width: 400px;
    }

}

@media screen and (min-width: 2560px){
    .logo{
        width: 200px;
    }

    .header_container{
        width: 300px;
    }

    .navigation{
        top: 350px;
        height: 70px;
    }

    .nav_item{
        font-size: 36px;
        margin: auto 50px;
    }

    .grid_container{
        top: 400px;
    }

    .main_img{
        width: 2000px;
        height: 1000px;
    }

    .main_text{
        top: 700px;
    }

    .grid_item{
        margin-top: 900px;
        height: 850px;
        width: 700px;
    }

    .item_text{
        font-size: 64px;
    }

    .section_img{
        width: 600px;
        height: 400px;
    }

    .grid_item p{
        font-size: 36px;
    }

    .grid_link{
        font-size: 36px;
    }

    .footer_area{
        margin-top: 300px;
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_logo{
        width: 150px;
    }

    .footer_text{
        font-size: 30px;
    }
}
